footer {
  height: auto;
  width: 100%;
  background-color: black;
}
footer .wrap {
  color: white;
  display: grid;
  grid-template-columns: 1fr 7fr 3fr;
  grid-template-rows: auto;
  padding: 20px;
  grid-gap: 40px;
}
footer .wrap p.footerlogo {
  grid-column: 1;
  grid-row: 1;
  background: url(../img/logov.png) no-repeat top /contain;
}
footer .wrap address{
  font-style: normal;
}
footer .wrap address p{
  display: inline-block;
  width: 20%;
  margin-bottom: 10px;
  border-right: 1px solid gray;
}
address .wrap address::after{
  content: "";
  height: 11px;
  display: block;
  border-left: 1px solid gray;
  padding-left: 20px;
}
footer .wrap p small {
  padding-top: 8px;
  grid-column: 3;
  grid-row: 1;
}