#news {
  a: b;
}
#news div.wrap {
  a: b;
}
#news div.wrap h2.hide {
  a: b;
}
#news div.wrap h3.h4T {
  a: b;
}
#news div.wrap a.smT {
  a: b;
}
#news div.wrap ul {
  a: b;
}
#news div.wrap ul li {
  a: b;
}
#news div.wrap ul li a.h6T {
  a: b;
}
#news div.wrap ul li a.h6T time.smT {
  a: b;
}